*{
    font-family: montserrat !important;
    box-shadow: none !important;
}
#root{
    height: 100vh;
}
.price{
    position: absolute;
    top: 150px;
    left:0;
    padding: 15px 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: url("./images/gradient_price.svg");
    background-repeat: no-repeat;
    }
.price div{
    color: white;
    font-size: 20pt;
}
.nav-links{
    color: whitesmoke;
    font-size: 20pt;
}
.header-grid{
  width: 50%;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  /*margin-right: 250px;*/
}
.socialL{
    bottom: 20px;
    right: 20px;
    position: fixed;
  }
  .socialL div svg,.socialL a svg{
    fill: white;
    width: 40px;
  }
.dropbtn {
        background: transparent;
        color: whitesmoke;
        font-size: 20pt;
        border: none;
      }
.dropdown-content {
        display: none;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        position: absolute;
        min-width: 160px;
      }
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 16pt;
      }
.dropdown-content a:hover {background-color: #ddd;}
      
.dropiv:hover .dropdown-content {display: block;}

.fixedFooter{
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: url('./images/menu.svg');
    height: 100px;
    bottom: -21px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footerLinks{
    display: block;
    text-align: center;
  }
  .footerImg{
    height: 25px;
    width: 25px;
    margin: 15% 0% 10% 0%;
  }
  @media only screen and (min-width:500px){
    .footerImg{  
      margin: 8% 0% 8% 0%;
    }
  }
  .footerLinks p{
    font-size: 10pt;
    font-weight: bold;
    color: #989fac;
  }
  .mobile-container{
    width: 140%;
    margin: 0 -20%;
  }
  @media only screen and (max-width:900px){
    .header-grid,.socialL{
      display: none !important;
    }
  }
  .moreMenu{
    position: fixed;
    width: 100%;
    background: url(./images/menu.svg);
    bottom: 75px;
    display: none;
    grid-template-columns: 100%;
    color: #989fac;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    background-size: cover;
  }
  .moreLinks{
    display: grid;
    grid-template-columns: 15% 15%;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid #989fac;
  }
  .moreLinks p{
    display: inline-block;
    line-height: 1.75;
  }
  .moreLinks img{
    display: inline-block;
    margin: 0;
  }